Note: Hypothesis Testing is one way of making statistical inference from sample data to population .
General steps in hypothesis testing:
1. The first step in hypothesis testing is to specify the null hypothesis (H0) and the alternative 
hypothesis (H1). 
2. The next step is to select a signifit canlee.l,
3. Identify the sampling distribution of est theimima (Z, t, Chi, )tor.
4. The fourth step is to calculate a statistic analogous to the parameter specified by the null 
hypothesis.
5. Identify the critical region.
6. Making decision.
7. Summarizat Note.ise

The chi-square (χ2) test can be used to evaluate a relationship between two nominal or ordinal variable.
The purpose of chi-square test is to find out whether the associations between two categorical variables are statistically significant

Assumptions of Chi-square test 
 The data are obtained from a random sample.
 All individuals expected counts should be one or more (no more than 20% of expected 
counts are less than 5)
Note:It is okay to have some expected counts less than 5, provided none are less than 1, and at 
least 80% of the expected counts are equal to or greater than 5.

The Chi-square test is used to test:
A_Testing independence (or association):It examines the relationship between two categorical variables to determine if they are independent.
For instance we may be interested to:_ Whether the presence or absence of hypertension is independent of smoking habit or not._Whether the size of family is independent of level of education attained by the mothers.
_Whether there is an association between socio-economic status and the academic 
performance of students.ar
: : There is no association b/n A & B =  independent
H1: Not HThere is association b/n A & B)

B_Test of homogeneity(similarity):is a way of determining whether two or more different populations (or 
groups) share the same distribution of a single categorical variable.This test is applied to a single 
categorical variable from two or more populations or groups.
 For exampl,
_Ddo people of different
races have the same proportion of smokers to non-smoke
_D do different education levels hav 
different proportions of Democrats, Republicans, and Independe
H0: two or more populations have the same proportion of individuals with some characteristics.
H1: At least one of the population proportions is different from the others.
CTest of goodness of fit: is likely to be performed by people who have a theory of what the proportions 
should be in each category It is used to see whether a frequency distribution fits a specific pattern. 
Goodness of fit test also involves only one categorical variable.._nt.han 5.

In [2]:
# First Import/Load the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("IHMStefanini_industrial_safety_and_health_database.csv")

In [3]:
df.head()

,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee ou Terceiro,Risco Critico
0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed
1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems
2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools
3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others
4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others

Data Preparation
First, We need checking for missing values, understanding the distribution of different variables, and preparing the data for hypothesis testing.

In [7]:
df.describe()

,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee ou Terceiro,Risco Critico
count,439,439,439,439,439,439,439,439,439
unique,287,3,12,3,5,6,2,3,34
top,2016-02-26 00:00:00,Country_01,Local_03,Mining,I,IV,Male,Third Party,Others
freq,13,263,90,241,328,155,417,189,232

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data                      439 non-null    object
 1   Countries                 439 non-null    object
 2   Local                     439 non-null    object
 3   Industry Sector           439 non-null    object
 4   Accident Level            439 non-null    object
 5   Potential Accident Level  439 non-null    object
 6   Genre                     439 non-null    object
 7   Employee ou Terceiro      439 non-null    object
 8   Risco Critico             439 non-null    object
dtypes: object(9)
memory usage: 31.0+ KB

In [11]:
# To check the missing values
df.isnull().sum()

Data                        0
Countries                   0
Local                       0
Industry Sector             0
Accident Level              0
Potential Accident Level    0
Genre                       0
Employee ou Terceiro        0
Risco Critico               0
dtype: int64

As We can see in the description the is not missing data

perform these Hypothesis testing:
1. Check the proportion of metal, mining, and others sector in Country_01 and whether the difference is 
statistically significant?

Step:1 Sepecify H0 & H1:
Null Hypothesis (H0): The proportion of metal, mining, and other sectors in Country_01 is the same (proportion of Metal = Mining = Others)
Alternative Hypothesis (H1): The proportion of metal, mining, and other sectors in Country_01 is different.

In [18]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# select a significant level a = 0.05
# First Select only the records for Country_01.
country_01 = df[df['Countries'] == 'Country_01']
print(f"Records of Only Country_01 is: \n {country_01}")

# Then Group by Industry Sector i.e (Metal, Mining, and Other) in Country_01 an then count of accidents in each sector
sector_counts = country_01['Industry Sector'].value_counts()
print(f"Sector counts in Country_01 is: \n {sector_counts}")

# Perform a Chi-square test for the goodness of fit to see if the observed frequencies differ significantly from the expected frequencies.
chi2_stat, p_val, dof, ex = chi2_contingency(pd.DataFrame([sector_counts.values]))
print(f"Chi2 Stat: {chi2_stat}, \n p-value: {p_val}")

# Interpretation of our data
if p_val < 0.05:
    print("Reject the null hypothesis: The proportion of metal, mining, and other sectors in Country_01 is different.")
else:
    print("Fail to reject the null hypothesis: The proportion of metal, mining, and other sectors in Country_01 is the same.")

Records of Only Country_01 is:
                     Data   Countries     Local Industry Sector Accident Level  \
0    2016-01-01 00:00:00  Country_01  Local_01          Mining              I
2    2016-01-06 00:00:00  Country_01  Local_03          Mining              I
3    2016-01-08 00:00:00  Country_01  Local_04          Mining              I
4    2016-01-10 00:00:00  Country_01  Local_04          Mining             IV
7    2016-01-17 00:00:00  Country_01  Local_04          Mining              I
..                   ...         ...       ...             ...            ...
427  2017-06-20 00:00:00  Country_01  Local_01          Mining              I
428  2017-06-24 00:00:00  Country_01  Local_03          Mining              I
434  2017-07-04 00:00:00  Country_01  Local_04          Mining              I
435  2017-07-04 00:00:00  Country_01  Local_03          Mining              I
438  2017-07-09 00:00:00  Country_01  Local_04          Mining              I

    Potential Accident Level   Genre  Employee ou Terceiro  \
0                         IV    Male           Third Party
2                        III    Male  Third Party (Remote)
3                          I    Male           Third Party
4                         IV    Male           Third Party
7                        III    Male           Third Party
..                       ...     ...                   ...
427                       IV    Male           Third Party
428                       II  Female           Third Party
434                      III    Male           Third Party
435                       II  Female              Employee
438                       II  Female           Third Party

                    Risco Critico
0                         Pressed
2                    Manual Tools
3                          Others
4                          Others
7                         Pressed
..                            ...
427                        Others
428                           Cut
434                        Others
435                        Others
438  Fall prevention (same level)

[263 rows x 9 columns]
Sector counts in Country_01 is:
 Industry Sector
Mining    203
Metals     58
Others      2
Name: count, dtype: int64
Chi2 Stat: 0.0,
 p-value: 1.0
Fail to reject the null hypothesis: The proportion of metal, mining, and other sectors in Country_01 is the same.

Step 7: Conclusion: At 0.05 level of significance we have an evidence to say that the proportion of metal, mining, and other sectors in Country_01 is the same

2. Employee type by Gender - Is the distribution of employee type differ significantly gender wise?

Null Hypothesis (H0): The distribution of employee type (Employee or Third Party) does not differ significantly by gender.

Alternative Hypothesis (H1): The distribution of employee type (Employee or Third Party) differs significantly by gender.

Steps we follow to do this
Group by Gender and Employee Type: Calculate the count of each employee type for both males and females.
Statistical Test: Perform a Chi-square test for independence to determine if there is a significant association between gender and employee type.

In [44]:
#  Distribution of Employee Type by Gender
gender_employee_data = pd.crosstab(df['Genre'], df['Employee ou Terceiro'])
print(f"Number Of Employee by Group is : \n {gender_employee_data}")

# Chi-square test for independence
chi2_stat, p_val, dof, ex = chi2_contingency(gender_employee_data)
print(f"Chi2 Stat: {chi2_stat}, p-value: {p_val}")

# Interpretation of the data
if p_val < 0.05:
    print("Reject the null hypothesis: The distribution of employee type differs significantly by gender.")
else:
    print("Fail to reject the null hypothesis: The distribution of employee type does not differ significantly by gender.")

Number Of Employee by Group is :
 Employee ou Terceiro  Employee  Third Party  Third Party (Remote)
Genre
Female                       8            9                     5
Male                       173          180                    64
Chi2 Stat: 0.8817969860504556, p-value: 0.6434580187349547
Fail to reject the null hypothesis: The distribution of employee type does not differ significantly by gender.

Conclusion: At 0.05 level of significance we have an evidence to say that the distribution of employee type does not differ significantly by gender.